/assets/
/tests/
/jobs/

/data/*
!/data/paperbench/
!/data/paperbench/**
!/data/paperbench_jsons/
!/data/paperbench_jsons/**

/outputs/*
!/outputs/paperbench_repos/
!/outputs/paperbench_repos/**

/scripts/*
!/scripts/run_codex_with_eval.sh
!/scripts/run_codex.sh
!/scripts/run_paperbench_codex_all.sh

/temp*
/api-key
/.env.azure
/.lock
/.agents/
/.legacy/
/.pytest_cache/
/.venv/
__pycache__/
*.py[cod]

/*.md
!/README.md

/codes/misc_compare.py